h1{
  text-align: center;
   color: aqua;
   font-family: 'Mochiy Pop P One', sans-serif;         
}
p{
  text-align: center;
  color: aqua;
    font-family: 'Mochiy Pop P One', sans-serif;    
}
body{
  background-color: black
  
}